h1{
                   font-size: 80px;
                  color: purple;
}


#especial{
                   font-size: 50px;
                   color: red;
}
#special{
                   font-size: 40px
                   Color: yellow;
}

#ingredientes{
                   font-size: 20px
                   color:
}

img{
                     height: 400px;

                     width:auto;
}