h1{
                   font-size: 70px;
                  color: purple;
}


#especial{
                   font-size: 50px;
                   color: blue;
}
#special{
                   font-size: 40px
                   Color: red;
}

#ingredientes{
                   font-size: 20px
                   color: red;
}

#espe{  
                    font-size:30px
                     color: red;
}

img{
                     height: 400px;

                     width:auto;
}